/* CART CSS */

.cartProd{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3% 0;
}
.cartImg{
    width: 30%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
}

.prodTitle{
  font-family: 'Playfair Display', serif;
  font-size: 1.7em;
}

.prodPrice{
  font-weight: 500;
  font-family: 'Now';
  font-size: 1.4em;
}


#cart{    
	position: fixed; 
	top: 0;
	height: 100%; 
	background: #FFFCF2;
	overflow: hidden;
  overflow-y: auto;
}

#menuCart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topCart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-family: 'Now';
  font-size: 2em;
  color: #714751;
  margin: 3% 0 2% 3%;
}


#cart_f{
  height: 40px;
  aspect-ratio: 1/1;
  background-image: url('./imgs/cart.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /*mix-blend-mode: exclusion;*/
  filter: sepia(256%) saturate(516%) brightness(33%) hue-rotate(608deg);
}
#close_mobile{
	width: 40px;
  aspect-ratio: 1/1;
  background-image: url('./imgs/closeIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	background-color: transparent;
  border: none;
  margin-right: 2%;
}

.btn_white{
  border-color: #714751;
  color: #714751;
  background-color: #fff;
  margin-right: 8%;
}

.btn_white:hover{
  color: #fff;
  background-color: #000;
}

.btn_white:active{
  color: #000;
  background-color: #fff;
}

#productsList{
  height: 80%;
  overflow-y: auto;
}
.superRemv{
  display: flex;
  justify-content: flex-end;
}
.prodRemv{
  background-color: #403D39;
  color: #fff;
  border-radius: 10px;
  padding: 4%;
  text-align: center;
  position: relative;
  width: 70px;
}

.prodRemv:hover{
  cursor: pointer;
  background-color: #ff0000aa;
  border-color: #ff0000aa;
}

.prodRemv:active{
  background-color: #000;
}

/*Finaliza compra*/

#fimCompra{
  background-color: #403D39;
  color: #fff;
  border-radius: 10px;
  padding: 4%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 60%;
  bottom: 40px;
}

#fimCompra:hover{
  cursor: pointer;
  background-color: #23aa88aa;
  border-color: #23aa88aa;
}

#fimCompra:active{
  background-color: #dd1d56;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #dd1d56 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dd1d56;
    border-radius: 16px;
    /*border: 3px solid #ffffff;*/ 
    border: 0;
  }


@media (max-width: 767px){
#productsList{
  height: 70%;
  overflow-y: auto;
}
#topShop{
  display: block;
}

}




/*Show or hide cart slider*/
		#cart.show_cart{
			animation-duration: 1.5s;
			animation-name: show_cart;
			width: 20%;
			padding-left: 10px;
		}
		#cart.show_cart div, #cart.show_cart input, 
		#cart.show_cart_mob div, #cart.show_cart_mob input{
			animation-duration: 1s;
			animation-name: show_cart_f;
			opacity: 100%;
		}

	@keyframes show_cart {
	  from {
	    width: 0%;
	  }

	  to {
	    width: 20%;
	  }
	}
	@keyframes show_cart_f {
	  from {
	    opacity: 0%;
	  }

	  to {
	    opacity: 100%;
	  }
	}
		#cart.hide_cart{
			animation-duration: 1s;
			animation-name: hide_cart;
			width: 0%;
			padding-left: 0;
		}
		#cart.hide_cart div, #cart.hide_cart input, 
		#cart.hide_cart_mob div, #cart.hide_cart_mob input{
			animation-duration: 0.8s;
			animation-name: hide_cart_f;
			opacity: 0%;
		}

	@keyframes hide_cart {
	  from {
	    width: 20%;
	  }

	  to {
	    width: 0%;
	  }
	}
	@keyframes hide_cart_f {
	  from {
	    opacity: 100%;
	  }

	  to {
	    opacity: 0%;
	  }
	}

	/*Show or hide cart slider mobile*/
	.hide_init_cart{
		width: 0;
	}

	#cart.show_cart_mob{
			animation-duration: 1.5s;
			animation-name: show_cart_mob;
			width: 100%;
			padding-left: 10px;
		}
	@keyframes show_cart_mob {
		  from {
		    width: 0%;
		  }

		  to {
		    width: 100%;
		  }
		}
	#cart.hide_cart_mob{
				animation-duration: 1.5s;
				animation-name: hide_cart_mob;
				width: 0%;
				padding-left: 0;
			}
	@keyframes hide_cart_mob {
		  from {
		    width: 100%;
		  }

		  to {
		    width: 0%;
		  }
		}
