@media (max-width: 767px){
  #tituloShop{
    justify-content: center;
    margin-bottom: 5%;
    padding-bottom: 0px;
  }
  #topShopMenu{
    padding: 0;
    margin: 0 auto;
    margin-bottom: 8%;
    justify-content: center;
  }
  .bolsaCard{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 8%;
  }

  .product{
    width: 90%;
    aspect-ratio: 1/1;
    margin: 0 auto;
  }

  .contents{
    width: 95%;
    margin: 0 auto;
  }
  .bolsaTitle{
    font-size: 2em;
  }

  .bolsaAddCart{
    padding: 7%;
  }
  #Dbtn_cart{
  padding: 2%;
}
}