:root {
    --orange-color: #FF6C0D;
    --whiteP-color: #FFFCF2;
    --browM-color: #403D39;
    --blackM-color: #252422;
    --bromP-color: #CCC5B9;
}


html {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--whiteP-color);
  color: var(--browM-color);
}

#contentMain{
	display: flex;
  	flex-direction: column;
  	width: 100%;
  	min-height: 100vh;
}


#topMenu{
	display: flex;
  	flex-direction: row;
  	position: fixed;
  	max-height: 100vh;
  	width: 100%;
	padding: 1%;
	padding-left: 2%;
	background-color: var(--browM-color);
	color: var(--whiteP-color);
	z-index: 9999999 !important;
}

#topMenu .topMenuLab{
	margin-right: 6%;
	font-size: 1.7em;
	font-family: 'Cardo', serif;
}
#topMenu .topMenuLab:hover{
  cursor: pointer
}
#menuBurguer{
  display: flex;
  flex-direction: row;
  min-width: -webkit-fill-available;
}


.midContent{
	flex:1;
  min-height: 100vh;
	flex-direction: column;

}

.allCenter{
	display: flex;
	align-items: center;
	justify-content: center;
}


/*______M1______*/

#midContent1{
  min-height: 95vh;
  max-height: 95vh;
}

/*__________ M1 LOGO __________*/


#logoImgM1{
  /*width: 25vw;
  background-image: url('./logoIcon.png');*/
  width: 95vw;
  aspect-ratio: 1/1;
  background-image: url('./logoIcon150.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 5%;
  border-radius: 100%;
}

.cartBtn{
  position: absolute;
  width: 40px;
  aspect-ratio: 1/1;
  background-image: url('./cartIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: 4%;
  top: 1%;
}

#rowDown{
  position: absolute;
  bottom: 4%;
  min-height: calc(1.2em + 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rDwnTxt{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  margin-bottom: 4%;
}

#rDwnArr{
  width: 40px;
  aspect-ratio: 1/1;
  background-image: url('./arrowIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/*______M2______*/

#midContent2{
  max-height: 100vh;
  background-color: var(--browM-color);
  color: var(--whiteP-color);
  padding: 0 5%;
}

.pM2{
  font-family: 'Cardo', serif;
  font-size: 1em;
  margin-bottom: 2%;
}

#imgM2{
  width: 70%;
  aspect-ratio: 1/1;
  background-image: url('./bolsaIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2%;
  margin-bottom: 5%;
}



/*______M3______*/

#midContent3{
  min-height: 50vh;
  max-height: 50vh;
  padding: 0 2%;
}

.imgM3{
  width: 50px;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  mix-blend-mode: exclusion;
  margin-bottom: 2%;
}

.txtM3{
  font-family: 'Cardo', serif;
  font-size: 0.6em;
}


#topM3{
  display: flex;
  align-items: center;
  flex-direction: column;
}


#topM3 .imgM3{
    background-image: url('./instaIcon.png');
}

#midM3{
  display: flex;
  margin: 8% 0;
}

#mid1M3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mid1M3 .imgM3{
  background-image: url('./lockIcon.png');
}

#mid2M3{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1%;
}

#imgMid2M3{
  align-self: center;
  width: 100%;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./lariIcon.png');
}


#mid3M3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mid3M3 .imgM3{
  background-image: url('./freteIcon.png');
}

#mid3M3 .txtM3{
  min-width: 50%;
}


#bottomM3{
  display: flex;
  align-items: center;
  flex-direction: column;
}


#bottomM3 .imgM3{
    background-image: url('./cardIcon.png');
}

#bottomM3 .txtM3{
    max-width: 60%;
    text-align: center;
}